@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* variables */
:root{
    --primary-darkblue:hsl(233, 26%, 24%);
    --primary-limegreen:hsl(136, 65%, 51%);
    --primary-brightcyan:hsl(192, 70%, 51%);

    /* nuetrals */
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /* customcolor */

    --custom-color: linear-gradient(
         hsl(136, 65%, 51%),
         hsl(192, 70%, 51%);
         
         );
}




/* UTILITIES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    background-color: var(--VeryLightGray);
}

p,
a{
    color: var(--GrayishBlue);
    
    line-height: 1.2;
    padding-bottom: 2rem;
    
}

h1,
h2,
h3,
h4{
    color: var(--primary-darkblue);
    font-weight: 400;
    margin-bottom: 1.2rem;
}

img{
    width: 100%;

}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    margin: 0 auto;
    max-width: 1100px;
}

.btn{
    padding: 0.7rem 1.4rem;
    border-radius: 2rem ;
    /* background-image: var(--custom-color); */
    border: none;
    outline: none;
    width: max-content;
    background-color: var(--primary-limegreen);

}

.btn:hover{
    transform: scale(0.9); 
   
}






/* navbar */

.navigation{
    margin: auto;
    height: 3.125rem; 
    background-color: var(--White);
   
}

.navigation img{
    width: 10%;
}

.navigation ul{
    display: flex;
    
}

.navigation a{
    padding: 1rem;
}

/* selection */

.selection img{
    width: 20%;
}

/* article */




/* footer */

.footer{
    background-color: var(--primary-darkblue);
    height: 150px;
    
}

.footer img{
    width: 15%;
}

.footer .logo-container img{
    width: 85%;
    padding-bottom: 2rem;
}










/* the flexbox */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}


/* the box-content(card)   */
.card{
    background-color: var(--White);
    color: var(--GrayishBlue);
    border-radius: 0.625rem;
    padding: 0.625rem;
    margin: 0.620rem;
    
}

